#alertBox {
    z-index: 10;
    border-radius: 3px;
    position: fixed;
    display: none;
    padding: 18px 10px;
    top: 45%;
    left: 50%;
    width: 250px;
    height: 120px;
    margin-left: -125px;
    margin-top: -60px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 12px 3px rgba(64,63,64,1);
    
-moz-box-shadow: 2px 2px 12px 3px rgba(64,63,64,1);
    
box-shadow: 2px 2px 12px 3px rgba(64,63,64,1);
}
#back {
    z-index: 9;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(images/trasparente.png);
}

#btnA {
    text-transform: uppercase;
    position: relative;
    font-size: 10px;
    padding: 10px 24px;
    color: #fff;
    background-color: #e1e100;
    border-radius: 3px;
    border: 0px;
}

#btnA:hover,
#btnA:focus,
#btnA:active {
    text-decoration: none;
    background-color: #e1e100;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}
#btnA:hover{
	cursor:pointer;
}
#btnAN {
    text-transform: uppercase;
    position: relative;
    font-size: 8px;
    padding: 16px 24px;
    color: #e1e100;
    background-color: #fff;
    border-radius: 3px;
    border: 0px;
}

#btnAN:hover,
#btnAN:focus,
#btnAN:active {
    text-decoration: none;
    color: #e1e100;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.verde {
    color: #08c65b;
    background-color: #07bc4c;
}