
#regForm{
    background-color: #ffffff;
    margin: 10px auto;
    padding: 40px 10px 40px 10px;
    width:60%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


  #regForm:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  

.tab h1{
    text-align: center;
}
.tab input[type=text], .tab input[type=email],.tab input[type=password],.tab input[type=tel]{  
    font-size: 0.9em;
    max-width:230px;
    width:85%;
    border-color:#141414; 
    padding:0.8em;  
    margin-bottom: 5px;
    border-radius:3px; 
    border-width:1px; 
    border-style: solid;
  }
  .tab input[type=radio]{  
    font-size: 0.9em;
    padding:0.8em;  
    margin-bottom: 5px;
  }
.tab input:hover{
    outline: none;
}

/*marcare input invalido*/
.tab input.invalid{
    background-color: #ffdddd;
}
/*step di default*/
.tab{
    display: none;
}

.steptab button{
    background-color:#e1e100;
    color:#ffffff;
    border:none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.steptab button:hover{
    opacity: 0.8;
}

#prevBtn{
    background-color: #bbbbbb;
}

/*pallini che indicano gli step*/
.step{
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border:none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active{
    opacity: 1;
}

.step.finish{
    background-color: #e1e100;
}













/*step venditore*/

#regForm1{
    background-color: #ffffff;
    margin: 10px auto;
    padding: 40px 10px 40px 40px;
    width: 60%;
    min-width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


  #regForm1:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  

.tab1 h1{
    text-align: center;
}
.tab1 input[type=text], .tab1 input[type=email],.tab1 input[type=date],.tab1 input[type=password],.tab1 input[type=tel]{  
    font-size: 0.9em;
    max-width:230px;
    width:85%;
    border-color:#141414; 
    padding:0.8em;  
    margin-bottom: 5px;
    border-radius:3px; 
    border-width:1px; 
    border-style: solid;
  }
  .tab1 input[type=radio]{  
    font-size: 0.9em;
    padding:0.8em;  
    margin-bottom: 5px;
  }
.tab1 input:hover{
    outline: none;
}

/*marcare input invalido*/
.tab1 input.invalid{
    background-color: #ffdddd;
}
/*step di default*/
.tab1{
    display: none;
    text-align:center;
}

.steptab1 button{
    background-color: #e1e100;
    color:#ffffff;
    border:none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.steptab1 button:hover{
    opacity: 0.8;
}

#prevBtn1{
    background-color: #bbbbbb;
}

/*pallini che indicano gli step*/
.step1{
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border:none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step1.active{
    opacity: 1;
}

.step1.finish{
    background-color: #e1e100;
}


.tab1 img{
	border:0px dotted grey; 
	border-radius:3px;
}.tab1 input[type=color]{
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
	border-radius:10%;
	overflow:hidden;
}
.tab1  input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.tab1  input[type="color"]::-webkit-color-swatch {
	border: none;
}







.tab1 textarea,.tab textarea{
	margin-top:10px;
	max-width:60%;
	width:55%;
	padding:0.7em;
	min-height:150px;
}

@media screen and (max-width:600px){
	#regForm{
	    width:80%;
	}
	#regForm1{
	    width:80%;
	}
	
	.tab input[type=text], .tab input[type=email],.tab input[type=date],.tab input[type=password],.tab input[type=tel],.tab1 input[type=text], .tab1 input[type=email],.tab1 input[type=date],.tab1 input[type=password],.tab1 input[type=tel]{  
    font-size: 0.8em;
    max-width:200px;
    width:65%;
    border-color:#141414; 
    padding:0.7em;  
    margin-bottom: 3px;
    border-radius:3px; 
    border-width:1px; 
    border-style: solid;
  }
	
}