body{
    color: black;
    background-color: #ffffff;
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', 'sans-serif';
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color:#141414 #707070ef ;
    overflow-x:hidden;
}

header{
    height:125px;
    margin-bottom: 1%;
    z-index: 1;
    left:0;
}

.header{
    position: fixed;
    background-color: #ffffff;
    top:0;
    display: table;
    margin: 0 auto; 
    left:0;
    width:100%;
    height:80px;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content{
    color:rgb(0, 0, 0);
    background-color: white;
    margin: 0 auto;
    display: table;
    text-align: center;
    width:100%;
    min-height: 1000px;
    margin-top:10px;
    overflow-x:hidden;
}

.footer{
    display: table;
    position: float;
    background-color: #141414;
    color: #e5ece5;
    bottom:0;
    left:0;
    right:0;
    margin: 0 auto;
    margin-top: 30px; 
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
}

.gotop{
    display:none;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    text-align: center;
    height:30px;
    width:35px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 5px;
    padding-bottom: 1px;
    bottom: 15px;
    right: 0;
    border: 1px solid #e1e100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e1e100;
}

.gotop img{
    height:25px;
    width:25px;   
}

@media screen and (max-width:600px){
    body{
        width:100%;
        margin:0 auto;
    }
    header{
        height: 80px;
    }
    .header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        display: table;
        margin: 0 auto; 
        width:100%;
    }

    .gotop{
        height:23px;
        width:23px;
        padding-top: 4px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 5px;
        bottom: 20px;
    }

    .gotop img{
        height:18px;
        width:18px;   
    }

    .content{
        width: 95%;
        margin: 0 auto;
    }
}




